// // compress: true

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "reset";
@import "fonts";
@import "vars";
@import "vendor";

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;

  &.overlay,
  &.no-scroll,
  &.show-sidebar {
    overflow: hidden;
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.container {
  width: 100%;
  max-width: @grid-width;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

input {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: fade(@black, 80%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transition: all 1s linear;
}


@import "blocks/container";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/navbar";
@import "blocks/menu";
@import "blocks/main";
@import "blocks/faq-accordion";
@import "blocks/animation";

@import "blocks/footer";

@import "blocks/modal";