// main: style.less

@black: #000;
@white: #fff;
@dark: #3b3d46;
@accent: #00b4e3;
@lightgray: #e6e6e6;

@lightblue: #f1f7f8;

@shadow-box: 0 0 20px 4px fade(@black, 16%);
@shadow-elipse: 0 0 9px 0.8px fade(@black, 16%);
@shadow-primary: #eaecef;


@grid-width: 1200px;

@smallest: ~"(max-width: 376px)";
@smaller: ~"(max-width: 415px)";
@small: ~"(max-width: 576px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@tablet-lg: ~"(max-width: 1023px)";
@desktop-md: ~"(max-width: 1199px)";
@desktop-lg: ~"(max-width: 1400px)";

// @start-x: 120%;
@start-x: -30%;
