// main: style.less

@black: #000;
@white: #fff;


@shadow-box: 0 0 20px 4px fade(@black, 16%);
@shadow-elipse: 0 0 9px 0.8px fade(@black, 16%);


@grid-width: 1200px;


@tablet: ~"(max-width: 991px)";
@mobile: ~"(max-width: 767px)";

