/* Animations */
/* class="header__subtitle aud _anim-items _anim-off" */
/* ._anim-items  Для подключения анимации. класс (active) */
/* ._anim-off Для отключения повторной анимации*/
/*adu = a - animation, from d(down), to u(up)  */
/* animation если нужно отключить анимацию на девайсе
    @media (max-width: 575px) {
        ._anim-items {
        transform: translate(0px, 0px);
        opacity: 1;
        }
    }*/
.adu {
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.adu._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.aud {
  -webkit-transform: translate(0px, -120%);
  -ms-transform: translate(0px, -120%);
  transform: translate(0px, -120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.aud._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.alr {
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.alr._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.arl {
  -webkit-transform: translate(120%, 0px);
  -ms-transform: translate(120%, 0px);
  transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.arl._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.ascale {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.ascale._active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
