// main: ../style.less

.nav__mobile {
    display: flex;
    // position: fixed;
    @media @tablet {

        display: block;
        flex-direction: column;
        padding: 3rem;

        background-color: @white;
        z-index: 999;

        overflow: auto; // Чтобы скроллился сайдбар


        transform: translate3D(-150%, -150%, 0); // Изначально спрятана
        transition: transform .2s linear;

        .show-sidebar & {
            transform: translate3D(0, 0, 0); // Выезжает
        }
    }

    a {
        display: block;
    }
}